.Head{
  background-image: linear-gradient(#fff5ec, #fff);
  padding: 40px 0 ;
  text-align: center;
  margin-bottom: 50px;
}
.content{}

.content h1{
  font-size: 50px ;
  line-height: 75px;
  color: #666666;
  margin-bottom: 20px;

}

.content h1 span { 
  font-size: 40px ;
  font-weight: bold;
  color: #f7941d;
}
.content p {
  font-size: 20px;
  color: #777;
  line-height: 35px;
  padding: 10px 0; 

}


.content p span { 
  font-size: 30px ;
  font-weight: bold;
  color: #f7941d;
}

.img_store{
  padding: 20px 0;
  display: flex;
  gap: 12px;
  width: 70%;
}
.img_Cover {
  width: 100%;
}
.img_Cover .img {
  width: 55%;
}


/* start About us */

.About_us{
  background-color: rgb(255, 255, 255);
  padding: 40px 0;
}
.About_us .content h2 {
  color: #eb7504;
  font-size: 30px;
  margin-bottom: 25px;
}
.About_us .content p {
  line-height:35px;
  font-size: 20px;
  color: #777;
  padding: 10px 0;
}

.About_us  .img {
  width: 100%;
  margin-right: 175px;
}

.About_us  .img img { 
  width: 50%;

}

.Cards {
  padding: 10px 0;
}
.Cards h3 {
  font-size: 26px;
  color: #666666;
  font-weight: 700;
  margin-bottom: 3rem;

}

.About_Card{
  padding: 16px;
    background: #fff;
    border-radius: 8px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;

}
.About_Card img{
  height: 60px
}


/* End About us */


/* start  Services*/


.Service{

}

.Service .img img {
  border-radius: 20px;
  padding: 10px;
}
.Service .content {}

.Service .content h3 {
  padding: 20px 0;
  font-size: 28px;
  color: #eb7504;
  font-weight: 600;

}
.Service .content p {

  color: #666666;
  font-size: 22px;
  line-height: 26px;
}
.Service .content .services_list{
  padding: 15px 0;

}

.Service .content .services_item{
  padding: 10px 0;
  font-size: 19px;

}
.Service .content .services_item::marker{
  font-size: 19px;
  color: #eb7504;
}


/* End  Services*/


/* Start dowenload*/

.Dowenload{
  width: 100%;
  padding: 40px 0;
  height: 400px;
  background-image: linear-gradient(#dba570, #181817);


}
.Dowenload h3 {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  line-height: 82px;
  margin-bottom: 12px;
}

.Dowenload p {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.Btn{
  padding: 20px 0 ;
}

.Btn .img{
  padding: 3px;
}

.Phone_img{
  position: relative;
}

.Phone_img .phone{
  color: #fff;
  width: 430px;
  height: 360px;
}

.Phone_img img{
  width: 65px;
  position: absolute;
  right: 25%;
  top: 31%;
}


/*swipper*/
.explore{
  padding: 50px 0;
  
}
.explore h3{
  color: #666666;
  text-align: center;
  font-size: 30px;
  margin-bottom: 8px !important;
}

.explore h3 span{
  font-size: 25px;
  color: #f7941d  ;
  font-weight: 600;
}
.explore p {
  color: #777;
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px !important;


}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}










/* End dowenload*/




/* media*/






 

@media only screen and (max-width: 1299px) {
  .Phone_img{
    display: none;
  }



}






